body{
  height: 100vh;
}

button:focus, input:focus {
  outline: none;
}

.row{
  height: 100%;
}

.background {
  background-color: #414345;
  position: absolute;
}

.grid{
  margin: 0px;
  height: 100vh;
}

div.fluid.container {
  width:100%;
  padding: 0px;
}


