/* main */

.main {
  padding: 0px;
  height: 100%;
  display: flex;
  justify-content: center;
  background: #101111;
  float: right;

}

#image-container{
  overflow-y: auto;
  display: flex;
  display: inline-block;
  z-index:10;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 66.66%;
  right: 0;
  padding-top: 100px;
  background-color: #101111;
}

.images {
  display:flex;
  display:inline-block;
  width: 100%;
  height: 100%;
}

/*Modal*/

.modal-photo {
  max-width:300px;
  max-height:300px;
}


.description-row {
  max-width:500px;
}

/*medias */

@media (max-width: 1920px){

  .page-post{
    display: flex;
    display: inline-block;
    position: relative;
    width: 20%;
    z-index: 0;
    cursor: pointer;

   }
   .images {
    display:flex;
    display:inline-block;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 1000px) {
  .page-post{
   width: 50% !important;
  }
  #image-container{
    width: calc(100% - 345px);
  } 
}

@media (max-width: 700px) {
  .main{
    width: 100%;
    position: relative;
    margin-top: 100px;
  }
  #image-container{
    width: 100%;
    position: relative;
  }
}

.page-post{
  display: flex;
  display: inline-block;
  position: relative;
  width: 20%;
  z-index: 0;
  cursor: pointer;
}

.movie-title {
  color: white;
  font-family: Helvetica;
  font size: 16px;
  position: absolute;
  z-index: 10;
  margin: 0px;
  display: none;
  height: 100%;
  width: 100%;
  padding: 15px;
}

@media (max-width: 374px) {
  .page-post{
    width: 100% !important;
  }
}

.page-post:hover .movie-title{
  display: block;
  background-color: rgba(0, 0, 0, 0.7);
}

.movie-description {
  position: absolute;
  z-index: 10;
  padding: 15px;
  color: white;
  font-family: Helvetica;
  font size: 14px;
  margin: 0px;
  margin-top: 80%;
  display: none;
}

.page-post:hover .movie-description {
  display: block;
}


/* Dropdpwn button */

#sort-bar {
  background-color: #101111;
  z-index: 12;
  padding: 10px;
  padding-bottom: 5px; 
  padding-top: 20px;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  text-align: center;
  display: flex;
  display: inline-block;
  height: 100px;
}

#sort-bar button {
  color: white;
}

.open{
  border: 1px solid white;
  border-radius: 4px; 
}

.btn-group{
  margin: 5px 25px;
}

.btn-default {
  background-color: transparent;
  width: 100px;
}

.btn-default:hover {
  background: linear-gradient(to right, #7f00ff, #e100ff);
  border-style: white 1px solid; 
  color: white;
}
.btn-default.focus, .btn-default:focus {
  background-color: #0049ff; 
  border-style: none;
  color: white;
}

.open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
  background: linear-gradient(to right, #0049ff, #009cff); 
  border-style: none; 
}

/*page title*/

.page-title {
  max-width: 400px;
  width: calc(100% - 50px);
  margin: 5px 25px;
}

.loadMore {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.loadMore button {
  border-radius: 20px;
  padding: 10px 23px;
  background: linear-gradient(to right, #0049ff, #009cff); 
  color: white;
  border: none;
}


