/* main */

.main {
  padding: 0px;
  height: 100%;
  display: flex;
  justify-content: center;
  background: url(../../textures/black-back.jpg);
  float: right;

}

#image-container{

  height: calc(100%-99px);
  // width: 100%;
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  display: inline-block;
  z-index:10;
  position: fixed;
  top: 110px;
  bottom: 0;
  left: 33.33%;
  right: 0;
}

.images {
  display:flex;
  display:inline-block;
  width: 100%;
  height: 100%;
}


@media (max-width: 1920px){

  .page-post{
  display: flex;
  display: inline-block;
  position: relative;
  width: 20%;
  z-index: 0;
  cursor: pointer;

 }
 .images {
  display:flex;
  display:inline-block;
  width: 100%;
  height: 100%;
}

}
/*
@media (max-width: 400px) {
 
  .page-post{
    display: flex;
    display: inline-block;
    position: relative;
    width: 50%;
    z-index: 0;
    cursor: pointer;

  }
}*/

.page-post{
  display: flex;
  display: inline-block;
  position: relative;
  width: 20%;
  z-index: 0;
  cursor: pointer;

}

.movie-title {
  color: white;
  font-family: Helvetica;
  font size: 16px;
  position: absolute;
  z-index: 10;
  margin: 0px;
  display: none;
  height: 100%;
  width: 100%;
  padding: 15px;
}

.page-post:hover .movie-title{
  display: block;
  background-color: rgba(0, 0, 0, 0.7);
}

.movie-description {
  position: absolute;
  z-index: 10;
  padding: 15px;
  color: white;
  font-family: Helvetica;
  font size: 14px;
  margin: 0px;
  margin-top: 80%;
  display: none;
}

.page-post:hover .movie-description {
  display: block;
}


/* Dropdpwn button */

#sort-bar {
  background-color: #101111;
  z-index: 12;
  padding: 10px;
  padding-bottom: 5px; 
  padding-top: 37px;
  top: 0;
  left: 33.33%;
  right: 0;
  position: fixed;
  text-align: center;
  display: flex;
  display: inline-block;
  height: 110px;
}

.btn-group{
  margin-left: 55px;
}

.btn-default {
  background-color: transparent;
  color: white;
  width: 100px;
}

.btn-default:hover {
  background: linear-gradient(to right, #7f00ff, #e100ff);
  border-style: white 1px solid; 
  color: white;
}
.btn-default.focus, .btn-default:focus {
  background-color: #0049ff; 
  border-style: none;
  color: white;
}

.open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
  background: linear-gradient(to right, #0049ff, #009cff); 
  border-style: none; 
}

/*page title*/

.page-title {
 width: 400px;
}