/* main */

.main {
  padding: 0px;
  height: 100%;
  display: flex;
  justify-content: center;
  background: url(../../textures/black-back.jpg);
  float: right;

}

#image-container{
  margin-top: 10px;
  height: 100%;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  display: inline-block;
  z-index:10;
}


.images {
  display:flex;
  display:inline-block;
  width: 100%;
}

.page-post{
  display: flex;
  display: inline-block;
  position: relative;
  width: 20%;
  z-index: 0;
  cursor: pointer;

}

.movie-title {
  color: white;
  font-family: Helvetica;
  font size: 16px;
  position: absolute;
  z-index: 10;
  margin: 0px;
  display: none;
  height: 100%;
  width: 100%;
  padding: 15px;
}

.page-post:hover .movie-title{
  display: block;
  background-color: rgba(0, 0, 0, 0.7);
}

.movie-description {
  position: absolute;
  z-index: 10;
  padding: 15px;
  color: white;
  font-family: Helvetica;
  font size: 14px;
  margin: 0px;
  margin-top: 80%;
  display: none;
}

.page-post:hover .movie-description {
  display: block;
}


/* Dropdpwn button */

.btn-group{
  margin-top: 50px;
}

.btn-default {
  background-color: transparent;
  color: white;
}

.btn-default:hover {
  background: linear-gradient(to right, #0049ff, #009cff); 
  border-style: none; 
}

.open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
  background: linear-gradient(to right, #0049ff, #009cff); 
  border-style: none; 
}

