/* general */

.sideBar {
  background: linear-gradient(to bottom , #101111, #323335);
  float: left;
  position: fixed;
  height: 100%;
  color: white;
  padding: 0 !important;
}

div.sideBar{
  padding: 25px; 
}

.fix-sidebar{
  overflow: auto;
  height: calc(100% - 20px);
  }

/*logo*/

#logo {
  max-width: 200px;
  margin: 20px;
}

.logo-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}

/* filters */

#filters {
  padding: 10px;
}

/*genre buttons*/

.genres-group{
  margin:20px auto;
  padding: 0px auto;
}

.genre-btn{
  margin: 7px;
  margin-top: 8px;
  border-radius: 30px;
  font-family: Helvetica;
  color: white;
  background-color: #414244;
  border: none;
  width:30%;
  height:50px;
}

.genre-btn:hover{
background: linear-gradient(to right, #7f00ff, #e100ff);
}

 /* age */
.age{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.age-btn{
  border: none;
  font-family: Helvetica;
  color: white;
  background-color: #323335;
  padding: 10px;
  width: calc(20% - 10px);
  border-radius: 8px;
  margin: 0 5px;
}

.allMovies:hover {
  background: linear-gradient(to right, #7f00ff, #e100ff);
}
.ratedpg:hover {
  background: linear-gradient(to right, #00BCD4, #3F51B5);
}
.ratedpg13:hover {
  background: linear-gradient(to right, #319628, #aeb71d);
}
.ratedr:hover {
  background: linear-gradient(to right, #fffe00, #ff8100);
  color: black;
}
.ratedextreme:hover {
  background: linear-gradient(to right, #7e0000, #ff0000);
}

.allMoviesSelected {
  background: linear-gradient(to right, #7f00ff, #e100ff);
}
.ratedpgSelected {
  background: linear-gradient(to right, #00BCD4, #3F51B5);
}
.ratedpg13Selected {
  background: linear-gradient(to right, #319628, #aeb71d);
}
.ratedrSelected {
  background: linear-gradient(to right, #fffe00, #ff8100);
  color: black;
}
.ratedextremeSelected {
  background: linear-gradient(to right, #7e0000, #ff0000);
}

/* people */

#formBasicText {
  margin: 10px;
  width: calc(100% - 20px);
}

.persons{
  width: calc(100% - 40px);
  background-color: #323335;
  line-height: 10px;
  padding: 10px 15px;
  margin: 10px 20px;
  position: relative;
  border-radius: 5px;
}
.persons button {
  position: absolute;
  top: 2px;
  right: 15px;
}
/*selected class*/

.selected{
  background: linear-gradient(to right, #0049ff, #009cff);
}


/*medias*/

@media (max-width: 1646px) {

  .genres-group{
    margin:20px auto 0px;
    padding: 0px auto;
  }

  .genre-btn{
    margin: 7px;
    margin-top: 8px;
    border-radius: 30px;
    font-family: Helvetica;
    color: white;
    background-color: #323335;
    border: none;
    width:46%;
    height:50px;
  }

  .fix-sidebar{
    overflow: auto;
    height: calc(100% - 10px);
  }

  .age-btn{
    height: 67.1px;
  } 

  .age{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }
}


/* toggle button */

.menuToggle {
  position: fixed;
  top: 32.5px;
  left: -40px;
  height: 40px;
  width: 40px;
  z-index: 999;
}

.menuToggle img {
  width: 40px;
  height: 40px;
}

.overflowHidden{
  overflow: hidden; 
}

/* media queries */

@media (max-width: 1332px) {
  .age-btn{
    width: calc(100% - 10px) !important; 
    margin: 7px;
    height: 45px;
  } 
  .age{
    display: block;
  }
}

@media (max-width: 1202px) {
  .genre-btn{
    width: calc(50% - 20px);
  }
}

@media (max-width: 1000px) {
 .sideBar {
  height: 100%;
  color: white;
  width: 345px;
  z-index: 100;
  }
}

@media (max-width: 700px) {
 .sideBar {
    width: 100%;
    position: fixed;
    left: 0;
    height: auto;
  }
  .menuToggle {
    left: 30px;
  }
  #filters {
    display: none;
  }
  .fix-sidebar {
    height: auto;
  }
  .sideBarOpen {
    display: block !important;
    position: inherit;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 100px);
  }
}

@media (max-width: 374px) {
  #logo {
    position: fixed;
    right: 0;
    top: 18px;
  }
  .logo-container {
    height: 107px;
  }
}

/* rc-slider */

.rc-slider-tooltip {
  z-index: 99999999;
}
/*actors input*/

.form-control {
  border-radius: 20px;
  color: white !important;
  background-color:#232526 ;
  border-style: white 1px solid !important;
}

.form-control:focus {
  border-color: transparent;
  box-shadow: transparent !important; 
}

.actorsClose{
  color: white;
}

/*slider*/

.sliderbar-container {
  display: flex;
  justify-content: center;
}

.rc-slider-rail {
  background-color: #7f00ff;
}

.rc-slider-track {
  background-color: #e100ff;
}

.rc-slider-handle {
  background-color: white;
  border-color: white;
}

/*reset button*/

.reset-button {
  border-radius: 20px;
  background-color:#232526 ;
  color: white;
  border-style: none;
  text-align: center;
  padding: 10px 20px;
  margin: 20px 0;
}

.resetButton-container {
  text-align: center;
}


/*titles*/

.slidebar-title {
  margin-left: 7px;
  margin-bottom: 15px;
}
