body{
  height: 100vh;
}

.row{
  height: 100%;
}

.background {
  background: linear-gradient(to bottom , #0B0519, #180A4C);
  position: absolute;
}

.sideBar {
  background: transparent;
}

.grid{
  margin: 0px;
  height: 100vh;
}

div.fluid.container {
  width:100%;
  padding: 0px;
}

div.sideBar{
  padding: 15px; 
}

.main {
  padding: 0px;
  height: 100%;
  display: flex;
  justify-content: center;
}

/*sidebar elements
*/

/*logo*/

#logo {
  max-width: 200px;
  margin: 20px;
}

.logo-container {
  display: flex;
  justify-content: center;
}

/*images files*/


#image-container{
  margin-top: 80px;
  height: 550px;
  width: 790px;
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  display: inline-block;
}

/*.images {
  margin: 0px;
  position: relative;
  z-index: 1;
  max-width:200px;
}*/

.images {
  width: 170px;
  height:240px;
  display:flex;
  display:inline-block;
}

.page-post{
  display: flex;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.movie-title {
  color: white;
  font-family: Helvetica;
  font size: 16px;
  position: absolute;
  z-index: 10;
  margin: 0px;
  display: none;
  height: 100%;
  width: 100%;
  padding: 15px;
}

.page-post:hover .movie-title{
  display: block;
  background-color: rgba(0, 0, 0, 0.7);
}

.movie-description {
  position: absolute;
  z-index: 10;
  padding: 15px;
  color: white;
  font-family: Helvetica;
  font size: 14px;
  margin: 0px;
  margin-top: 80%;
  display: none;
}

.page-post:hover .movie-description {
  display: block;
}

/*genre buttons*/

.genres-group{
  height: 200px;
  overflow: scroll;
  overflow-x: hidden;
  margin:20px 0px;
}

.genre-btn{
  margin: 6px;
  margin-top: 8px;
  border-radius: 30px;
  font-family: Helvetica;
  color: white;
  background-color: #120A33;
  border: none;
  width:120px;
  height:50px;
}

.genre-btn:hover{
background: linear-gradient(to right, #7f00ff, #e100ff);
}


/* Dropdpwn button */

#dropdown{
  display: block;
  height: 50px;
}



.selected{
  background: linear-gradient(to right, #0049ff, #009cff);
}

