body{
  height: 100vh;
}

button:focus, input:focus {
  outline: none;
}

.row{
  height: 100%;
}

.background {
  background: linear-gradient(to bottom , #232526, #414345);
  position: absolute;
}

.sideBar {
  background: linear-gradient(to bottom , #232526, #414345);
}

.grid{
  margin: 0px;
  height: 100vh;
}

div.fluid.container {
  width:100%;
  padding: 0px;
}

div.sideBar{
  padding: 25px; 
}

.main {
  padding: 0px;
  height: 100%;
  display: flex;
  justify-content: center;
  background: url(../textures/black-back.jpg);
}

/*sidebar elements
*/

/*logo*/

#logo {
  max-width: 200px;
  margin: 20px;
}

.logo-container {
  display: flex;
  justify-content: center;
}

/*images files*/


#image-container{
  margin-top: 80px;
  height: 100%;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  display: inline-block;
}


.images {
  width: 170px;
  height:240px;
  display:flex;
  display:inline-block;
}

.page-post{
  display: flex;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.movie-title {
  color: white;
  font-family: Helvetica;
  font size: 16px;
  position: absolute;
  z-index: 10;
  margin: 0px;
  display: none;
  height: 100%;
  width: 100%;
  padding: 15px;
}

.page-post:hover .movie-title{
  display: block;
  background-color: rgba(0, 0, 0, 0.7);
}

.movie-description {
  position: absolute;
  z-index: 10;
  padding: 15px;
  color: white;
  font-family: Helvetica;
  font size: 14px;
  margin: 0px;
  margin-top: 80%;
  display: none;
}

.page-post:hover .movie-description {
  display: block;
}

/*genre buttons*/

.genres-group{
  height: 450px;
  overflow: scroll;
  overflow-x: hidden;
  margin:20px auto;
  padding: 0px auto;
}

.genre-btn{
  margin: 7px;
  margin-top: 8px;
  border-radius: 30px;
  font-family: Helvetica;
  color: white;
  background-color: #414345;
  border: none;
  width:30%;
  height:50px;
}

.genre-btn:hover{
background: linear-gradient(to right, #7f00ff, #e100ff);
}


/* Dropdpwn button */

#dropdown{
  height: 50px;
}



.selected{
  background: linear-gradient(to right, #0049ff, #009cff);
}

